.validation {
    color: red;
    padding: 8px;
}

.page-header {
    margin-top: 20px;
}

.md-button {
    text-transform: none;
}

.homepage-button {
    min-width: 30%;
    font-size: 20px;
    padding: 8px;
}

.btn1 {
    background-color: #F44336;    
}

.highlight {
    background-color: #FFEB3B;
}