<div class="page-header">
    <h4>
        <span class="glyphicon glyphicon-list-alt btn btn-danger btn-sm pull-right" ng-click="ctrl.cancelEdit()"></span>
        <code>Candidate</code> {{ctrl.candidate.user.first_name }} {{ctrl.candidate.user.family_name}}
    </h4>
</div>



<div class="panel-group col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Competencies/Skills
            <span class="glyphicon glyphicon-edit pull-right" ng-click="ctrl.editCompetencies()"></span>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label>Degrees/Certifications:</label>
                    <textarea class="form-control" rows="3" ng-model="ctrl.candidate.degrees" ng-disabled="!ctrl.editCompetenciesMode"></textarea>
                </div>
                <div class="form-group">
                    <label>Technical:</label>
                    <textarea class="form-control" rows="3" ng-model="ctrl.candidate.technical" ng-disabled="!ctrl.editCompetenciesMode"></textarea>
                </div>
                <div class="form-group">
                    <label>Functional:</label>
                    <textarea class="form-control" rows="3" ng-model="ctrl.candidate.functional" ng-disabled="!ctrl.editCompetenciesMode"></textarea>
                </div>
                <div class="form-group">
                    <label>Methodology:</label>
                    <textarea class="form-control" rows="3" ng-model="ctrl.candidate.methodology" ng-disabled="!ctrl.editCompetenciesMode"></textarea>
                </div>
                <div class="form-group">
                    <label>Management skills:</label>
                    <textarea class="form-control" rows="3" ng-model="ctrl.candidate.management" ng-disabled="!ctrl.editCompetenciesMode"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="panel-group col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Personal Information
            <span class="glyphicon glyphicon-edit pull-right" ng-click="ctrl.editPersonalInformation()"></span>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-4">Visa status:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="ctrl.candidate.visastatus" ng-disabled="!ctrl.editPersonalInformationMode">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Experience: <small>(in years)</small></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="ctrl.candidate.experience" ng-disabled="!ctrl.editPersonalInformationMode">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Profile/current position:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="ctrl.candidate.profile" ng-disabled="!ctrl.editPersonalInformationMode">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="panel-group col-md-2" ng-show="ctrl.showFilePanel()">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Uploaded CV
        </div>
        <div class="panel-body">
            <small>View in new window:</small>
            <h3 class="text-center">
                <a href="/uploads/{{ctrl.candidate.file}}" target="_blank">
                    <span class="glyphicon glyphicon-file"></span>
                </a>
            </h3>
        </div>
    </div>
</div>

<div class="panel-group col-md-6">
    <div class="panel panel-success">
        <div class="panel-heading">
            Notes and recommendations for next steps
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label>Notes:</label>
                    <textarea class="form-control" rows="5" ng-model="ctrl.candidate.notes"></textarea>
                </div>
                <div class="form-group text-center">
                    <div class="btn-group">
                        <label class="btn btn-success btn-lg" ng-model="ctrl.candidate.status" uib-btn-radio="1">Proceed</label>
                        <label class="btn btn-warning btn-lg" ng-model="ctrl.candidate.status" uib-btn-radio="2">KIV</label>
                        <label class="btn btn-danger btn-lg" ng-model="ctrl.candidate.status" uib-btn-radio="3">Stop</label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success" ng-click="ctrl.saveEdit()">Save and conclude interview</button>
                    <button type="button" class="btn btn-default" ng-click="ctrl.cancelEdit()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>