<div class="page-header">
    <h2>Change password</h2>
</div>


<div class="col-md-4 col-md-offset-4">
    <div class="alert" ng-class="ctrl.status ? 'alert-success' : 'alert-danger'" ng-show="ctrl.showMessage">
        <strong>{{ctrl.message}}</strong>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h4>Change password</h4>
        </div>
        <div class="panel-body">
            <form name="form" ng-submit="form.$valid && ctrl.changePassword()" novalidate>
                <md-input-container>
                    <label>New password</label>
                    <input type="password" name="password1" ng-model="ctrl.password1" minlength="4" required>
                    <div ng-messages="form.password1.$error" ng-if="form.password1.$touched">
                        <div ng-message="required">Mandatory</div>
                        <div ng-message="minlength">Password should be at least 4 characters long.</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Confirm password</label>
                    <input type="password" name="password2" ng-model="ctrl.password2" ng-pattern="{{ctrl.password1}}" required>
                    <div ng-messages="form.password2.$error" ng-if="form.password2.$touched">
                        <div ng-message="required">Mandatory</div>
                        <div ng-message="pattern">Passwords do not match.</div>
                    </div>
                </md-input-container>

                <div class="form-group">
                    <input type="submit" class="btn btn-success form-control" ng-disabled="form.$invalid || ctrl.status" value="Save">
                </div>
            </form>
        </div>
        <div class="panel-footer text-center">
            <small>
                <a ui-sref="home">Cancel</a>
            </small>
        </div>
    </div>
</div>