<!-- Using ui.bootstrap.carousel -->
<div style="height: 510px">
    <div uib-carousel interval="2000" active="0" no-pause="true">
        <div uib-slide ng-repeat="slide in ctrl.slides" index="$index">
            <img ng-src="/images/{{slide}}" style="margin:auto;">
        </div>
    </div>
</div>

<!-- <div class="page-header">
    <h3>Menu</h3>
</div> -->

<!-- <div class="btn-group btn-lg btn-group-justified">
    <a ui-sref="register" class="btn btn-primary btn-lg btn-block">Candidate - Register</a>
    <a ui-sref="login1" class="btn btn-default btn-lg btn-block">Candidate - Login</a>
    <a ui-sref="login2" class="btn btn-danger btn-lg btn-block">Interviewer</a>
</div> -->

<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button class="md-raised md-primary homepage-button" ui-sref="register">Candidate - Register</md-button>
    <md-button class="md-raised homepage-button" ui-sref="login1">Candidate - Login</md-button>
    <md-button class="md-raised md-accent homepage-button" ui-sref="login2">Interviewer</md-button>
</section>