<div class="page-header">
    <h3>Registration</h3>
</div>
<uib-progressbar class="progress-striped active" max="100" value="ctrl.progress"> {{ctrl.progress}}% </uib-progressbar>
</div>

<div class="alert" ng-class="ctrl.status ? 'alert-success' : 'alert-danger'" ng-show="ctrl.showMessage">
    <strong>{{ctrl.message}}</strong>
</div>

<form name="form" class="col-md-6" novalidate>

    <!-- Page 0: Email validation -->
    <div class="panel panel-success" ng-show="ctrl.showPage(0)">
        <div class="panel-heading">
            <h4>Email</h4>
        </div>
        <div class="panel-body">
            <!-- <div class="form-group">
                <input type="email" floating-label class="form-control" name="email" placeholder="Email" ng-model="ctrl.user.email" required>
                <div ng-show="form.email.$touched">
                    <div class="validation" ng-show="form.email.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Email is mandatory.
                    </div>
                    <div class="validation" ng-show="form.$error.email">
                        <span class="glyphicon glyphicon-alert"></span> Email is invalid.
                    </div>
                </div>
            </div> -->
            <md-input-container flex>
                <label>Email</label>
                <input size="40" type="email" name="email" ng-model="ctrl.user.email" required>
                <div ng-messages="form.email.$error" ng-if="form.email.$touched">
                    <div ng-message="required">Email is mandatory</div>
                    <div ng-message="email">This field must be a valid email address.</div>
                </div>
            </md-input-container>
            <div class="form-group">
                <input type="button" class="btn btn-danger pull-right" ng-disabled="form.email.$error.required || form.$error.email" value="Validate"
                    ng-click="ctrl.validateEmail()">
            </div>
        </div>
        <div class="panel-footer text-center">
            <small>
                <a ui-sref="home">Cancel</a>
            </small>
        </div>
    </div>

    <!-- page 1: Interviewer -->
    <div class="panel panel-success" ng-show="ctrl.showPage(1)">
        <div class="panel-heading">
            <h4>Interviewer</h4>
        </div>
        <div class="panel-body">
            <!-- <div class="form-group">
                <label>Interviewer</label>
                <select class="form-control" ng-model="ctrl.user.interviewer" ng-change="ctrl.setProgress(7.5)" required>
                    <option value="{{interviewer.id}}" ng-repeat="interviewer in ctrl.interviewers">{{interviewer.first_name}} {{interviewer.family_name}}</option>
                </select>
            </div> -->
            <md-input-container>
                <label>Interviewer</label>
                <md-select name="interviewer" ng-model="ctrl.user.interviewer" ng-change="ctrl.setProgress(7.5)" required>
                    <md-option ng-repeat="interviewer in ctrl.interviewers" ng-value="interviewer.id">
                        {{interviewer.first_name}} {{interviewer.family_name}}
                    </md-option>
                </md-select>
                <div ng-messages="form.interviewer.$error" ng-if="form.interviewer.$touched">
                    <div ng-message="required">Please select your interviewer</div>
                </div>
            </md-input-container>
            <!-- <div class="form-group">
                <input type="text" floating-label class="form-control" name="applyingfor" placeholder="Applying for" ng-model="ctrl.user.applyingfor"
                    minlength=2 ng-change="ctrl.setProgress(8)" required>
                <div ng-show="form.applyingfor.$touched">
                    <div class="validation" ng-show="form.applyingfor.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Field is mandatory.
                    </div>
                    <div class="validation" ng-show="form.applyingfor.$error.minlength">
                        <span class="glyphicon glyphicon-alert"></span> Field should be at least 2 characters long.
                    </div>
                </div>
            </div> -->

            <div class="form-group">
                <md-autocomplete flex required md-input-name="applyingfor" md-min-length="0" md-input-minlength="2" md-no-cache="true" ng-model="ctrl.user.applyingfor"
                    md-selected-item="ctrl.selectedItem" md-selected-item-change="ctrl.user.applyingfor = ctrl.selectedItem.title;ctrl.setProgress(8);"
                    md-items="job in ctrl.querySearch(ctrl.user.applyingfor)" md-search-text="ctrl.user.applyingfor" md-item-text="job.title"
                    md-floating-label="Applying for" ng-change="ctrl.setProgress(8)" md-clear-button="true">
                    <md-item-template>
                        <span md-highlight-text="ctrl.user.applyingfor" md-highlight-flags="i">{{job.title}}</span>
                    </md-item-template>
                    <div ng-messages="form.applyingfor.$error" ng-if="form.applyingfor.$touched">
                        <div ng-message="required">Field is mandatory</div>
                        <div ng-message="minlength">Field should be at least 2 characters long.</div>
                    </div>
                </md-autocomplete>
            </div>

            <div class="form-group">
                <input type="button" class="btn btn-warning pull-left" value="prev" ng-click="ctrl.gotoPage(0, false)">
                <input type="button" class="btn btn-success pull-right" ng-disabled="ctrl.user.interviewer == 0 || form.applyingfor.$invalid"
                    value="next" ng-click="ctrl.gotoPage(2, true)">
            </div>
        </div>
        <div class="panel-footer text-center">
            <small>
                <a ui-sref="home">Cancel</a>
            </small>
        </div>
    </div>

    <!-- Page 2: Personal information -->
    <div class="panel panel-success" ng-show="ctrl.showPage(2)">
        <div class="panel-heading">
            <h4>Personal Information</h4>
        </div>
        <div class="panel-body">

            <div layout="row">
                <md-input-container flex>
                    <label>Family name</label>
                    <input type="text" name="familyname" ng-model="ctrl.user.family_name" ng-change="ctrl.setProgress(12.5)">
                </md-input-container>
                <!-- <div class="form-group">
                <input type="text" floating-label class="form-control" name="familyname" placeholder="Family name" ng-model="ctrl.user.family_name"
                    ng-change="ctrl.setProgress(12.5)">
            </div> -->
                <md-input-container flex>
                    <label>First name</label>
                    <input type="text" name="firstname" ng-model="ctrl.user.first_name" minlength="2" ng-change="ctrl.setProgress(15)" required>
                    <div ng-messages="form.firstname.$error" ng-if="form.firstname.$touched">
                        <div ng-message="required">First name is mandatory</div>
                        <div ng-message="minlength">Name should be at least 2 characters long.</div>
                    </div>
                </md-input-container>
                <!-- <div class="form-group">
                <input type="text" floating-label class="form-control" name="firstname" placeholder="First name" ng-model="ctrl.user.first_name"
                    minlength=2 required ng-change="ctrl.setProgress(15)">
                <div ng-show="form.firstname.$touched || form.$submitted">
                    <div class="validation" ng-show="form.firstname.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> First name is mandatory.
                    </div>
                    <div class="validation" ng-show="form.firstname.$error.minlength">
                        <span class="glyphicon glyphicon-alert"></span> Name should be at least 2 characters long.
                    </div>
                </div>
            </div> -->
            </div>

            <div layout="row">

                <md-input-container flex>
                    <label>Contact number</label>
                    <input type="number" name="contact" ng-model="ctrl.user.contact" minlength="8" maxlength="8" ng-change="ctrl.setProgress(17.5)"
                        ng-pattern="/^[689]\d{7}/" required>
                    <div ng-messages="form.contact.$error" ng-if="form.contact.$touched">
                        <div ng-message="required">Contact number is mandatory</div>
                        <div ng-message="minlength">Contact should be 8 digits</div>
                        <div ng-message="maxlength">Contact should be 8 digits</div>
                        <div ng-message="pattern">Contact number should start with 6, 8 or 9 only</div>
                    </div>
                </md-input-container>

                <!-- <div class="form-group">
                <input type="number" floating-label class="form-control" name="contact" placeholder="Contact number" ng-model="ctrl.user.contact"
                    minlength="8" maxlength="8" ng-pattern="/^[0-9]*$/" required ng-change="ctrl.setProgress(17.5)">
                <div ng-show="form.contact.$touched || form.$submitted">
                    <div class="validation" ng-show="form.contact.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Contact is mandatory.
                    </div>
                    <div class="validation" ng-show="form.contact.$error.minlength">
                        <span class="glyphicon glyphicon-alert"></span> Contact should be 8 digits.
                    </div>
                    <div class="validation" ng-show="form.contact.$error.maxlength">
                        <span class="glyphicon glyphicon-alert"></span> Contact should be 8 digits.
                    </div>
                    <div class="validation" data-ng-show="form.contact.$error.pattern">
                        <span class="glyphicon glyphicon-alert"></span> Contact number should contain only digits
                    </div>
                </div>
            </div> -->
                <!-- <div class="form-group">
                <input type="email" floating-label class="form-control" name="email" placeholder="Email" ng-model="ctrl.user.email" required
                    ng-change="ctrl.setProgress(20)">
                <div ng-show="form.email.$touched || form.$submitted">
                    <div class="validation" ng-show="form.email.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Email is mandatory.
                    </div>
                    <div class="validation" ng-show="form.$error.email">
                        <span class="glyphicon glyphicon-alert"></span> Email is invalid.
                    </div>
                </div>
            </div> -->

                <md-autocomplete flex required md-input-name="visastatus" md-min-length="0" md-input-minlength="2" md-no-cache="true" ng-model="ctrl.user.visastatus"
                    md-selected-item="ctrl.selectedItem2" md-selected-item-change="ctrl.user.visastatus = ctrl.selectedItem2"
                    md-items="visa in ctrl.querySearch2(ctrl.user.visastatus)" md-search-text="ctrl.user.visastatus" md-item-text="visa"
                    md-floating-label="Visa status" ng-change="ctrl.setProgress(22.5)" md-clear-button="true">
                    <md-item-template>
                        <span md-highlight-text="ctrl.user.visastatus" md-highlight-flags="i">{{visa}}</span>
                    </md-item-template>
                    <div ng-messages="form.visastatus.$error" ng-if="form.visastatus.$touched">
                        <div ng-message="required">Field is mandatory</div>
                        <div ng-message="minlength">Field should be at least 2 characters long.</div>
                    </div>
                </md-autocomplete>

                <!-- <div class="form-group">
                <input type="text" floating-label class="form-control" name="visastatus" placeholder="Visa status" ng-model="ctrl.user.visastatus"
                    minlength=2 required ng-change="ctrl.setProgress(22.5)">
                <div ng-show="form.visastatus.$touched || form.$submitted">
                    <div class="validation" ng-show="form.visastatus.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Visa status is mandatory.
                    </div>
                    <div class="validation" ng-show="form.visastatus.$error.minlength">
                        <span class="glyphicon glyphicon-alert"></span> Should be at least 2 characters long.
                    </div>
                </div>
            </div> -->

            </div>


            <div layout="row">
                <md-input-container flex>
                    <label>Profile/current position</label>
                    <input type="text" name="profile" ng-model="ctrl.user.profile" minlength="2" ng-change="ctrl.setProgress(25)" required>
                    <div ng-messages="form.profile.$error" ng-if="form.profile.$touched">
                        <div ng-message="required">Profile/current position is mandatory</div>
                        <div ng-message="minlength">Field should be at least 2 characters long.</div>
                    </div>
                </md-input-container>


                <md-input-container flex>
                    <label>Years of experience</label>
                    <input type="number" name="experience" ng-model="ctrl.user.experience" ng-change="ctrl.setProgress(27.5)" required>
                    <div ng-messages="form.experience.$error" ng-if="form.experience.$touched">
                        <div ng-message="required">Years of experience is mandatory</div>
                    </div>
                </md-input-container>
            </div>


            <!-- <div class="form-group">
                <input type="number" floating-label class="form-control" name="experience" placeholder="Years of experience" ng-model="ctrl.user.experience"
                    required ng-change="ctrl.setProgress(25)" min=0>
                <div ng-show="form.experience.$touched || form.$submitted">
                    <div class="validation" ng-show="form.experience.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Years of experience is mandatory.
                    </div>
                </div>
            </div> -->
            <!-- <div class="form-group">
                <input type="text" floating-label class="form-control" name="profile" placeholder="Profile/current position" ng-model="ctrl.user.profile"
                    minlength=2 required ng-change="ctrl.setProgress(27.5)">
                <div ng-show="form.profile.$touched || form.$submitted">
                    <div class="validation" ng-show="form.profile.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Profile/current position is mandatory.
                    </div>
                    <div class="validation" ng-show="form.profile.$error.minlength">
                        <span class="glyphicon glyphicon-alert"></span> Should be at least 2 characters long.
                    </div>
                </div>
            </div> -->
            <div class="form-group">
                <input type="button" class="btn btn-warning pull-left" value="prev" ng-click="ctrl.gotoPage(1, false)">
                <input type="button" class="btn btn-success pull-right" ng-disabled="ctrl.progress < 27.5" value="next" ng-click="ctrl.gotoPage(3, true)">
            </div>
        </div>

        <div class="panel-footer text-center">
            <small>
                <a ui-sref="home">Cancel</a>
            </small>
        </div>
    </div>


    <!-- Page 3: Competencies/Skills -->
    <div class="panel panel-success" ng-show="ctrl.showPage(3)">
        <div class="panel-heading">
            <h4>Competencies / Skills</h4>
        </div>
        <div class="panel-body">

            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Degrees/Certifications</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <!-- <div class="form-group"> -->
                            <textarea class="form-control" rows="5" name="degrees" placeholder="example: BSc in Computing, National University of Singapore"
                                ng-model="ctrl.user.degrees" required ng-change="ctrl.setProgress(35)"></textarea>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                Technical</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <textarea class="form-control" rows="5" name="technical" placeholder="example: MEAN stack, Javascript" ng-model="ctrl.user.technical"
                                ng-change="ctrl.setProgress(40)"></textarea>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                Functional</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <textarea class="form-control" rows="5" name="functional" placeholder="example: mobile apps development" ng-model="ctrl.user.functional"
                                ng-change="ctrl.setProgress(45)"></textarea>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                Methodology</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <textarea class="form-control" rows="5" name="methodology" placeholder="example: Agile, Scrum" ng-model="ctrl.user.methodology"
                                ng-change="ctrl.setProgress(50)"></textarea>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                Management skills</a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <textarea class="form-control" rows="5" name="management" placeholder="example: Project Management" ng-model="ctrl.user.management"
                                ng-change="ctrl.setProgress(55)"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="button" class="btn btn-warning pull-left" value="prev" ng-click="ctrl.gotoPage(2, false)">
                <input type="button" class="btn btn-success pull-right" ng-disabled="ctrl.progress < 40" value="next" ng-click="ctrl.gotoPage(4, true)">
            </div>
        </div>
        <div class="panel-footer text-center">
            <small>
                <a ui-sref="home">Cancel</a>
            </small>
        </div>
    </div>

    <!-- Page 4: Project/Criteria -->
    <div class="panel panel-success" ng-show="ctrl.showPage(4)">
        <div class="panel-heading">
            <h4>Project/criteria</h4>
        </div>
        <div class="panel-body">

            <div class="panel panel-default">
                <div class="panel-heading">Mobility</div>
                <div class="panel-body">
                    <div layout="row">
                        <md-switch flex md-invert="true" ng-model="ctrl.user.travel" ng-change="ctrl.setProgess(61)" aria-label="Travel OK?">
                            Travel?
                        </md-switch>
                        <md-switch flex md-invert="true" ng-model="ctrl.user.relocation" ng-change="ctrl.setProgess(62)" aria-label="Relocation OK?">
                            Relocation?
                        </md-switch>

                        <md-autocomplete flex required md-input-name="availability" md-min-length="0" md-input-minlength="2" md-no-cache="true" ng-model="ctrl.user.availability"
                            md-selected-item="ctrl.selectedItem3" md-selected-item-change="ctrl.user.availability = ctrl.selectedItem3"
                            md-items="avail in ctrl.querySearch3(ctrl.user.availability)" md-search-text="ctrl.user.availability"
                            md-item-text="avail" md-floating-label="Availability" ng-change="ctrl.setProgress(63)" md-clear-button="true">
                            <md-item-template>
                                <span md-highlight-text="ctrl.user.availability" md-highlight-flags="i">{{avail}}</span>
                            </md-item-template>
                            <div ng-messages="form.availability.$error" ng-if="form.availability.$touched">
                                <div ng-message="required">Field is mandatory</div>
                                <div ng-message="minlength">Field should be at least 2 characters long.</div>
                            </div>
                        </md-autocomplete>
                    </div>
                    <!-- <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-2">
                                Travel:
                                <toggle ng-model="ctrl.user.travel" ng-change="ctrl.setProgess(61)" on="OK" off="Not OK" size="btn-sm" onstyle="btn-success"
                                    offstyle="btn-danger"></toggle>
                            </div>
                            <div class="col-md-6">
                                Relocation:
                                <toggle ng-model="ctrl.user.relocation" ng-change="ctrl.setProgess(61)" on="OK" off="Not OK" size="btn-sm" onstyle="btn-success"
                                    offstyle="btn-danger"></toggle>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="form-group">
                        <input type="text" floating-label class="form-control" ng-model="ctrl.user.availability" placeholder="Availability" ng-change="ctrl.setProgress(63)">
                    </div> -->
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Salary details</div>
                <div class="panel-body">

                    <div layout="row">
                        <md-input-container flex>
                            <label>Fixed (Annual)</label>
                            <input type="text" ng-model="ctrl.user.current_fix">
                        </md-input-container>

                        <md-input-container flex>
                            <label>Variable (Annual)</label>
                            <input type="text" ng-model="ctrl.user.current_var">
                        </md-input-container>
                    </div>

                    <div layout="row">
                        <md-input-container flex>
                            <label>Expected</label>
                            <input type="text" ng-model="ctrl.user.expected">
                        </md-input-container>
                    </div>

                    <!-- <div class="form-group">
                        <input type="text" floating-label class="form-control" ng-model="ctrl.user.current_fix" placeholder="Current fixed">
                    </div>
                    <div class="form-group">
                        <input type="text" floating-label class="form-control" ng-model="ctrl.user.current_var" placeholder="Current variable">
                    </div>
                    <div class="form-group">
                        <input type="text" floating-label class="form-control" ng-model="ctrl.user.expected" placeholder="Expected">
                    </div> -->
                </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading">Reasons for change</div>
                <div class="panel-body">
                    <textarea class="form-control" rows="5" name="reasonsforchange" placeholder="example: career progression or seek new job role"
                        ng-model="ctrl.user.reasonsforchange" required ng-change="ctrl.setProgress(70)"></textarea>
                </div>
            </div>

            <div class="form-group">
                <input type="button" class="btn btn-warning pull-left" value="prev" ng-click="ctrl.gotoPage(3, false)">
                <input type="button" class="btn btn-success pull-right" ng-disabled="ctrl.progress < 70" value="next" ng-click="ctrl.gotoPage(5, true)">
            </div>
        </div>
        <div class="panel-footer text-center">
            <small>
                <a ui-sref="home">Cancel</a>
            </small>
        </div>
    </div>


    <!-- Page 5: References -->
    <div class="panel panel-success" ng-show="ctrl.showPage(5)">
        <div class="panel-heading">
            <h4>References</h4>
        </div>
        <div class="panel-body">


            <div class="panel panel-default">
                <div class="panel-heading">Reference 1</div>
                <div class="panel-body">
                    <div layout="row">
                        <md-input-container flex>
                            <label>Name of Manager/Colleague</label>
                            <input type="text" name="ref1_name" ng-model="ctrl.user.ref1.name" minlength="2" ng-change="ctrl.setProgress(81)" required>
                            <div ng-messages="form.ref1_name.$error" ng-if="form.ref1_name.$touched">
                                <div ng-message="required">Name is mandatory</div>
                                <div ng-message="minlength">Name should be at least 2 characters long.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Duration</label>
                            <input type="text" ng-model="ctrl.user.ref1.duration">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Company</label>
                            <input type="text" ng-model="ctrl.user.ref1.company">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Position</label>
                            <input type="text" ng-model="ctrl.user.ref1.position">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Contact details</label>
                            <input type="text" name="ref1_contact" ng-model="ctrl.user.ref1.contact" minlength="5" ng-change="ctrl.setProgress(85)" required>
                            <div ng-messages="form.ref1_contact.$error" ng-if="form.ref1_contact.$touched">
                                <div ng-message="required">Contact details is mandatory</div>
                                <div ng-message="minlength">Field should be at least 5 characters long.</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Reference 2</div>
                <div class="panel-body">
                    <div layout="row">
                        <md-input-container flex>
                            <label>Name of Manager/Colleague</label>
                            <input type="text" name="ref2_name" ng-model="ctrl.user.ref2.name" minlength="2" ng-change="ctrl.setProgress(87.5)" required>
                            <div ng-messages="form.ref2_name.$error" ng-if="form.ref2_name.$touched">
                                <div ng-message="required">Name is mandatory</div>
                                <div ng-message="minlength">Name should be at least 2 characters long.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Duration</label>
                            <input type="text" ng-model="ctrl.user.ref2.duration">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Company</label>
                            <input type="text" ng-model="ctrl.user.ref2.company">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Position</label>
                            <input type="text" ng-model="ctrl.user.ref2.position">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Contact details</label>
                            <input type="text" name="ref2_contact" ng-model="ctrl.user.ref2.contact" minlength="5" ng-change="ctrl.setProgress(89)" required>
                            <div ng-messages="form.ref2_contact.$error" ng-if="form.ref2_contact.$touched">
                                <div ng-message="required">Contact details is mandatory</div>
                                <div ng-message="minlength">Field should be at least 5 characters long.</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <input type="button" class="btn btn-warning pull-left" value="prev" ng-click="ctrl.gotoPage(4, false)">
                <input type="button" class="btn btn-success pull-right" ng-disabled="form.ref1_name.$invalid || form.ref1_contact.$invalid || form.ref2_name.$invalid || form.ref2_contact.$invalid"
                    value="next" ng-click="ctrl.gotoPage(6, true)">
            </div>
        </div>
        <div class="panel-footer text-center">
            <small>
                <a ui-sref="home">Cancel</a>
            </small>
        </div>
    </div>


    <!-- Page 6 upload file     -->
    <div class="panel panel-success" ng-show="ctrl.showPage(6)">
        <div class="panel-heading">
            <h4>Submit</h4>
        </div>
        <div class="panel-body">

            <div class="form-group">
                <label>Optional: upload resume (PDF only and up to 5MB)</label>
                <!-- Select file to upload. Single file only. Accepts only pdf-->
                <input id="file" type="file" ng-model="ctrl.file" ngf-select ngf-pattern="'.pdf'" ngf-accept="'.pdf'">
            </div>

            <div class="form-group">
                <input type="button" class="btn btn-warning pull-left" value="prev" ng-click="ctrl.gotoPage(5, false)">
            </div>

        </div>
        <div class="panel-footer text-center">
            <div class="form-group">
                <input type="button" class="btn btn-primary form-control" value="Submit" ng-click="ctrl.register()">
            </div>
        </div>
    </div>

</form>